aiohttp==3.6.2
appdirs==1.4.4
async-timeout==3.0.1
asyncinit==0.2.4
attrs==19.3.0
bitshares==0.5.1
certifi==2020.4.5.1
chardet==3.0.4
ecdsa==0.13.3
Events==0.3
graphenelib==1.3.2
idna==2.9
multidict==4.7.5
pprint==0.1
pycryptodome==3.9.7
pylibscrypt==1.8.0
requests==2.23.0
scrypt==0.8.13
six==1.14.0
urllib3==1.25.9
websocket-client==0.56.0
websockets==8.1
yarl==1.4.2